<div class="navbar navbar-default navbar-static-top" id="nav-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle nav-toggle-left" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span><i class="fa fa-2x fa-fw fa-navicon"></i></button>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-src-collapse">
            <span class="sr-only">Toggle navigation</span><i class="fa fa-2x fa-fw fa-search"></i></button>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-crt-collapse">
            <span class="sr-only">Toggle navigation</span><i class="fa fa-2x fa-fw fa-shopping-cart"></i></button>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-lgn-collapse">
            <span class="sr-only">Toggle navigation</span><i class="fa fa-2x fa-fw fa-user"></i></button>
      </div>
      <div>
        <a class="navbar-brand" href=""><img src="assets/logo.jpg" alt="Dispute Bills">
          </a>
      </div>
      <div>
        <div class="col-sm-1 collapse navbar-collapse" id="navbar-ex-collapse">
          <!-- <div class="col-sm-1 collapse navbar-collapse" id="navbar-lgn-collapse"> -->
          <ul class="nav navbar-nav">
            <li>
              <h3> Welcome</h3>
            </li>
          </ul>
        </div>
  
        <div class="dropdown dropdown-pull-right btn-group">
          <div class="col-sm-1 collapse navbar-collapse" id="navbar-lgn-collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a>
                <ul class="dropdown-menu">
                  <li><a routerLink="/showprofile">My Profile<span class="glyphicon glyphicon-user pull-right"></span></a></li>
                  <li class="divider"></li>
                  <li><a href="editprofile">Edit Profile <span class="glyphicon glyphicon-edit pull-right"></span></a></li>
                  <li class="divider"></li>
  
                  <li><a href="/login" (click)="logout()">Log out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
  
  
  
        <div class="collapse navbar-collapse" id="navbar-src-collapse">
          <form class="navbar-form navbar-right" role="">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
  
  
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
  
        </div>
      </div>
    </div>
  </div>
  <form class="" method="post" action="#"  [formGroup]="registerForm" >
  <div class="form-group">
      
    <label for="typeUser" class="cols-sm-2 control-label">Category Name:</label>
    <div class="cols-sm-10">
      <select formControlName="categoryId" placeholder="select type of user" (change)="onCategoryClick()" class="form-control selectpicker">
        <option disabled selected value="9" >Select Category</option>
        <option *ngFor='let categorys of category' value="{{categorys.category_id}}" >{{categorys.category_name}}</option>
        
        
      </select>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" *ngFor='let movie of movies'>
      <div class="hello">
        <div class="my-list">
  
          <img src="{{movie.movieImagePath}}" alt="dsadas" />
  
          <h3>{{movie.movieName}}</h3>
         
  
          
          <div class="detail">
  
            <img src="{{movie.movieImagePath}}" alt="dsadas" />
            <!-- <button class="btn btn-info" (click)="addElement(i.productId)">Add to Cart</button> -->
            <!-- <a href="productdetail" class="btn btn-info">Details</a> -->
          </div>
        </div>
      </div>
    </div> 
    </form>
   
  
  
  
     
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="my-list">
      <img src="{{products[1].productImagePath}}" alt="dsadas" />
      <h3>{{products[1].productName}}</h3>
      <span>{{products[1].productPrice}}</span>
     
      <div class="offer">Extra 25% Off</div>
      <div class="detail">
      
      <img src="{{products[1].productImagePath}}" alt="dsadas" />
      <button class="btn btn-info" (click)="addElement(products[1].productId)">Add to Cart</button>
      <a href="productdetail" class="btn btn-info">Details</a>
      </div>
    </div>
    </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="my-list">
      <img src="/assets/dress3.jpg" alt="dsadas" />
      <h3>Designer Saree</h3>
      <span>Rs:1299</span>
     
      <div class="offer">Extra 40% Off</div>
      <div class="detail">
    
      <img src="/assets/dress3.jpg" alt="dsadas" />
      <a href="productlist" class="btn btn-info" >Add to Cart</a>
      <a href="productdetail" class="btn btn-info">Details</a>
      </div>
    </div>
    </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="my-list">
      <img src="/assets/dress4.jpe" alt="dsadas" />
      <h3>Zeans</h3>
      <span>Rs:899</span>
      
      <div class="offer">Extra 55% Off</div>
      <div class="detail">
   
      <img src="/assets/dress4.jpe" alt="dsadas" />
      <a href="#" class="btn btn-info">Add to Cart</a>
      <a href="productdetail" class="btn btn-info">Details</a>
      </div>
    </div>
    </div>
  
  
  <!-- <button class="btn btn-info" (click)="showCart()">Show Cart</button>
  <div class="container">
    <table id="cart" class="table table-hover table-condensed">
      <thead>
        <tr>
          <th style="width:50%">Product</th>
          <th style="width:10%">Price</th>
          <th style="width:8%">Quantity</th>
          <th style="width:22%" class="text-center">Subtotal</th>
          <th style="width:10%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let i of item; let j = index'>
  
  
          <td data-th="Product">
            <div class="row">
              <div class="col-sm-2 hidden-xs"><img src={{i.productImagePath}} alt="..." class="img-responsive" /></div>
              <div class="col-sm-10">
                <h4 class="nomargin">{{i.productName}}</h4>
  
              </div>
            </div>
          </td>
          <td data-th="Price">{{i.productPrice}}</td>
          <td data-th="Quantity">
            <input type="number" (click)="calculate(j)" class="form-control text-center" [(ngModel)]="i.productQuantity" ngonchanges>
          </td>
          <td data-th="Subtotal" class="text-center">{{i.Subtotal}}</td>
          <td class="actions" data-th="">
  
            <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="visible-xs">
          <td class="text-center"><strong>Total 1.99</strong></td>
        </tr>
        <tr>
          <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
          <td colspan="2" class="hidden-xs"></td>
          <td class="hidden-xs text-center"><strong>{{GrandTotal}}</strong></td>
          <td> <button class="btn btn-danger btn-sm" (click)="toNextComponent()">Checkout</button></td>
        </tr>
      </tfoot>
    </table>
  </div>
   -->
  <app-footer></app-footer>