<div class="navbar navbar-default navbar-static-top" id="nav-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle nav-toggle-left" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span><i class="fa fa-2x fa-fw fa-navicon"></i></button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-src-collapse">
            <span class="sr-only">Toggle navigation</span><i class="fa fa-2x fa-fw fa-search"></i></button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-crt-collapse">
            <span class="sr-only">Toggle navigation</span><i class="fa fa-2x fa-fw fa-shopping-cart"></i></button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-lgn-collapse">
            <span class="sr-only">Toggle navigation</span><i class="fa fa-2x fa-fw fa-user"></i></button>
        </div>
        <div>
            <a class="navbar-brand" href=""><img src="assets/logo.jpg" alt="Dispute Bills">
          </a>
        </div>
        <div>
            <div class="col-sm-1 collapse navbar-collapse" id="navbar-ex-collapse">
                <!-- <div class="col-sm-1 collapse navbar-collapse" id="navbar-lgn-collapse"> -->
                <ul class="nav navbar-nav">
                    <li>
                        <h3> Welcome</h3>
                    </li>
                    <div class="col-sm-1 collapse navbar-collapse" id="navbar-lgn-collapse">
                        <button (click)="tvseries" class="dropdown-toggle" data-toggle="dropdown"> Tv shows </button>
                        <button (click)="toNextComponent()" class="dropdown-toggle" data-toggle="dropdown"> Movie </button>
                    </div>
                </ul>
            </div>

            <div class="dropdown dropdown-pull-right btn-group">
                <div class="col-sm-1 collapse navbar-collapse" id="navbar-lgn-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a>
                            <ul class="dropdown-menu">
                                <li><a routerLink="/showprofile">My Profile<span class="glyphicon glyphicon-user pull-right"></span></a></li>
                                <li class="divider"></li>
                                <li><a href="editprofile">Edit Profile <span class="glyphicon glyphicon-edit pull-right"></span></a></li>
                                <li class="divider"></li>

                                <li><a href="/login" (click)="logout()">Log out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>



           


    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>
<!-- //carousel starts -->
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">

                <button class="btn btn-hero btn-lg" role="button">Watch now</button>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-2"></div>
            <div class="hero">

                <button class="btn btn-hero btn-lg" role="button">Watch now</button>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-3"></div>
            <div class="hero">

                <button class="btn btn-hero btn-lg" role="button">Watch now</button>
            </div>
        </div>
    </div>
</div>
<!-- .....carousel end.... -->
<form class="" method="post" action="#" [formGroup]="registerForm">
    <div class="form-group">

        <label for="typeUser" class="cols-sm-2 control-label">select Movie Category:</label>
        <div class="cols-sm-10">
            <select formControlName="categoryId" placeholder="select type of user" (change)="onCategoryClick()" class="form-control selectpicker">
        <option disabled selected value="9" >Select Category</option>
        <option *ngFor='let categorys of category' value="{{categorys.category_id}}" >{{categorys.category_name}}</option>
        
        
      </select>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" *ngFor='let movie of movies'>
        <div class="hello">
            <div class="my-list">

                <img src="{{movie.movieImagePath}}" alt="dsadas" />

                <h3>{{movie.movieName}}</h3>



                <div class="detail">

                    <img src="{{movie.movieImagePath}}" alt="dsadas" />

                </div>
            </div>
        </div>
    </div>
</form>

<form class="" method="post" action="#" [formGroup]="seriesForm">
    <div class="form-group">

        <label for="typeUser" class="cols-sm-2 control-label">select Series Category:</label>
        <div class="cols-sm-10">
            <select formControlName="seriesId" placeholder="select type of user" (change)="onSeriesClick()" class="form-control selectpicker">
              <option disabled selected value="9" >Select Category</option>
              <option *ngFor='let categorys of category' value="{{categorys.category_id}}" >{{categorys.category_name}}</option>
              
              
            </select>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" *ngFor='let movie of series'>
        <div class="hello">
            <div class="my-list">

                <img src="{{movie.seriesImagePath}}" alt="dsadas" />

                <h3>{{movie.seriesName}}</h3>



                <div class="detail">

                    <img src="{{movie.seriesImagePath}}" alt="dsadas" />

                </div>
            </div>
        </div>
        <form class="" method="post" action="#" [formGroup]="seriesForm">
            <div class="form-group">
        
                <label for="typeUser" class="cols-sm-2 control-label">select Series </label>
                <div class="cols-sm-10">
                    <select formControlName="seriesId" placeholder="select type of user" (change)="onSeasonClick()" class="form-control selectpicker">
                      <option disabled selected value="9" >Select season</option>
                      <option *ngFor='let categorys of series' value="{{categorys.category_id}}" >{{categorys.seriesName}}</option>
                      
                      
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" *ngFor='let movie of series'>
                <div class="hello">
                    <div class="my-list">
        
                        <img src="{{movie.seasonImagePath}}" alt="dsadas" />
        
                        <h3>{{movie.seasonName}}</h3>
        
        
        
                        <div class="detail">
        
                            <img src="{{movie.seriesImagePath}}" alt="dsadas" />
        
                        </div>
                    </div>
                </div>
                
            </div>
        </form>

    </div>
</form>



<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-9">
                <h3>Latest TV
                </h3>
            </div>
            <div class="col-md-3">
                <!-- Controls -->
                <div class="controls pull-right hidden-xs">
                    <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a>
                    <a
                        class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
                </div>
            </div>
        </div>
        <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="/assets/movie11.jpg" class="img-responsive" alt="a" />
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="/assets/movie12.jpg" class="img-responsive" alt="a" />
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="/assets/movie13.jpg" class="img-responsive" alt="a" />
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="/assets/movie14.jpg" class="img-responsive" alt="a" />
                                </div>
                               
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="/assets/series1.jpg" class="img-responsive" alt="a" />
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="/assets/series2.jpg" class="img-responsive" alt="a" />
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="/assets/series3.jpg" class="img-responsive" alt="a" />
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="/assets/series4.jpg" class="img-responsive" alt="a" />
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-9">
                <h3>
                    Trending Movies</h3>
            </div>
            <div class="col-md-3">
                <!-- Controls -->
                <div class="controls pull-right hidden-xs">
                    <a class="left fa fa-chevron-left btn btn-primary" href="#carousel-example-generic" data-slide="prev"></a>
                    <a
                        class="right fa fa-chevron-right btn btn-primary" href="#carousel-example-generic" data-slide="next"></a>
                </div>
            </div>
        </div>
        <div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="/assets/movie15.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                Sample Product</h5>
                                            <h5 class="price-text-color">
                                                $199.99</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="/assets/movie16.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                Product Example</h5>
                                            <h5 class="price-text-color">
                                                $249.99</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="/assets/movie14.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                Next Sample Product</h5>
                                            <h5 class="price-text-color">
                                                $149.99</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="/assets/movie18bolly.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                Product with Variants</h5>
                                            <h5 class="price-text-color">
                                                $199.99</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="/assets/movie19bolly.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                Grouped Product</h5>
                                            <h5 class="price-text-color">
                                                $249.99</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="/assets/movie17.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                Product with Variants</h5>
                                            <h5 class="price-text-color">
                                                $149.99</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>